/* Lookbooks carousel styles */

[class*="span"] {
    float: left;
    margin-left: 20px;
}

.span10 {
    width: 780px;
}

.span2 {
    width: 140px;
}

.row {
  margin-left: -20px;
  *zoom: 1;
}

.row:before,
.row:after {
  display: table;
  content: "";
}

.row:after {
  clear: both;
}


